<!DOCTYPE html>

<head>

    <link rel="stylesheet" href='/static/css/student-create.css' />

</head>

<body>
    <h1>Create Student</h1>
    <form action="" method="post">
        <div class="inputs-wrapper">
            <div class="inputs-one">

                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div class="inputs-one">
                <label for="grade">Grade:</label>
                <input type="text" id="grade" name="grade" required>
            </div>
            <div class="inputs-one">
                <button type="submit">Create Student</button>
            </div>
        </div>
    </form>

</body>

</html>